@charset "UTF-8";
body{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
    background-color: black;
    align-content: center;
    border-radius: 10px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 10px;
}