@charset "UTF8";
/*
    Conversão de tipos HTML => CSS
    tudo que for...
    em HTML é id = em CSS é # (Só pode em um elemento)
    em HTML é class = em CSS é . (Pode em varios elementos)
*/
body{
    background-color: rgb(208, 247, 208);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(1, 59, 1);
}
h2{
    color: rgb(1, 63, 1);
}

h1#principal{
    color: white;
    background-color: green;
    text-align: center;
}

.basico{
    color: green;
    font-weight: bold;
}
.intermediario{
    color: yellow;
    font-weight: bold;
}
.avancado{
    color: red;
    font-weight: bold;
}

.destaque{
    background-color: blue;
}