@charset "UTF-8";

body{
    background-color: bisque;
}

header{
    background-image: linear-gradient(to top, #013b12,#014114,#016e22,#079c34,#04b439);
    color: white;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
}
header >nav{
    text-align: left;
    text-decoration: none;
}
nav >a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-shadow: 1px 1px 1px black;
}

div.fundo_principal{
    background-color: aqua;
    padding: auto;
}

div.principal{
    background-color: white;
    padding: auto;
    margin-top: 0%;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 0%;
    box-shadow: 1px 3px 1px grey;
}

div.principal > h1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
    color: #016e22;
}

div.principal > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

div.principal > h2{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
    color: #016e22;
}

div.principal > img{
    text-align: center;
    width: 710px;
}

.principal > img{
    padding-top: 0%;
    padding-right: 10px;
    padding-left: 7px;
    padding-bottom: 0%;
}

img.bug{
    padding: auto;
    height: 450px;
}